body{
    margin: 0;
    padding: 0;
    background-color:  rgb(35, 35, 35);
    font-family: sans-serif;
}

.contenedor{
    display: flex;
    justify-content: center;
    height: 34em;
    width: 100%;
    align-items: center;
}

.exito{
    background-color: black;
    width: 50%;
    height: 90%;
    margin: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: solid 3px white;
}

@media (max-width: 430px){
    .exito{
        height: 100%;
        width: 90%;
        margin: 2em;
        margin-top: 4em;
    }
}

.exito h1{
    font-size: 3em;
    margin: 1em 0 0.5em;
    font-weight: bold;
    color: white;
}

@media (max-width:430px){
    .exito h1{
        font-size: 1.5em;
    }
}

.pagoexitoso{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.exito img{
    width: 4em;
    height: 4em;
}

.invitacion p{
    margin: 0 1em;
}

#mail{
    margin: 1em 4em;
    text-align: center;
    font-size: 1.2em;
}

@media (max-width: 430px){
    #mail{
        margin: 1em;
    }
}

#inicioClases{
    margin-top: 2em;
    font-weight: bold;
}

@media (max-width: 430px){
    #inicioClases{
        margin: 1em;
        text-align: center;
    }
}

#logo{
    margin-top: 2em;
}





